# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Chroma database
data/issues.json
data/chroma/chroma.sqlite3
data/chroma/defcbcc9-4578-4553-b3f4-648cbe1c763b

# IDE
.vscode/
.idea/

# OS
.DS_Store